<h1>Employees</h1>

<%= link_to 'Add New Employee', new_employee_path %>

<br><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, admin_employee_path(employee) %></td>
        <td><%= employee.email %></td>
        <td>
          <%= link_to 'Edit', edit_admin_employee_path(employee) %>
          <%= link_to 'Delete', admin_employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back to Dashboard', admin_dashboard_path, class: 'btn btn-secondary' %>

